/*--- Colores ---*/
/*Clarito: #FAF8F5*/
/*Oscuro: #C4B6AE*/
/*Intermedio: #F3EEEC*/
/*Rojo: #B00000*/
/*Otro: #E9E1D6*/

/*--------------- General ---------------*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  background-color: #C4B6AE;
}

/*--------------- /General ---------------*/

/*--------------- wrapper ---------------*/
.wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #FAF8F5;
  border: 2px solid black;
}

/*--------------- wrapper ---------------*/

/*--------------- header ---------------*/
.header-wrapper {
  background-color: black;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.header-logo {
  align-self: flex-start;
}

.header__logo-big {
  display: none;
}

.header__logo-small {
  display: none;
}

.header__logo-xsmall {
  display: inline;
  width: 150px;
}

.header-login {
  color: #FAF8F5;
  font-size: 0.7em;
  text-align: right;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.header-login a {
  padding: 4px;
  margin-left: 6px;
  /*padding-right: 0;*/
  border: 1px solid #C4B6AE;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #FAF8F5;
}

.header-login a:hover {
  padding: 4px;
  background-color: #FAF8F5;
  color: #120400;
  border-radius: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
}

.nav__hamburg {
  cursor: pointer;
  color: #B00000;
}

#nav__toggle {
  display: none;
}

#nav__toggle:checked + .nav__menu {
  display: block;
}

.nav__menu {
  margin-right: 15px;
  list-style: none;
  display: none;
}

.nav__menu li {
  border-bottom: 1px solid #C4B6AE;
  padding: 0 25px 0 25px;
  background: #B00000;
  border-radius: 3px;

}

.nav__menu li:last-child {
  border: none;
}

.nav__menu a {
  color: #FAF8F5;
  text-decoration: none;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 2.5em;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.nav__menu a:hover {
  color: #C4B6AE;
}

@media only screen and (min-width: 576px) {
  .header__logo-big {
    display: none;
  }

  .header__logo-small {
    display: inline;
    width: 200px;
  }

  .header__logo-xsmall {
    display: none;
  }

  .header-otros {
    height: 103px;
  }

  .nav {
    display: block;
  }

  .nav__hamburg {
    display: none;
  }

  .nav__menu {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .nav__menu li {
    border-bottom: none;
    border-right: 1px solid #C4B6AE;
    padding: 0;
    flex: 1 1 auto;
  }

  .nav__menu a {
    line-height: 1.7;
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 750px) {
  .header__logo-big {
    display: inline;
  }

  .header__logo-small {
    display: none;
  }

  .nav__menu a {
    line-height: 1.8;
    font-size: 0.9em;
  }
}

/*--------------- /.header ---------------*/

/*--------------- main ---------------*/
.main-wrapper {
  flex: 1;
  align-self: stretch;
}

.main {
  background-color: #FAF8F5;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-intro {
  flex: 1 1 100%;
}

.welcome {
  color: #120400;
}

.welcome__photo {
  width: 100%;
}

.welcome h1 {
  font-size: 1.2em;
  padding: 5px;
}

.welcome p {
  font-size: 0.9em;
  padding: 5px;
}

.main__secciones {
  /*flex: 1 1 auto;*/
  /*flex: 1 1 50%;*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nuestro-menu__banner {
  height: 150px;
  background-image: url('../img/foto-02.jpg');
  background-repeat: none;
  background-size: cover;
}

.promos__banner {
  height: 150px;
  background-image: url('../img/foto-03.jpg');
  background-repeat: none;
  background-size: cover;
}

.delivery__banner {
  height: 150px;
  background-image: url('../img/foto-04.jpg');
  background-repeat: none;
  background-size: cover;
}

.banner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.banner h2 {
  font-size: 1.1em;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  margin-top: 20px;
  background-color: rgba(44, 37, 32, 0.5);
  color: #FAF8F5;
  border: 2px solid #C4B6AE;
  border-left: none;
}

.banner h2:hover {
  background-color: rgba(196, 182, 174, 0.5);
  color: #2C2520;
  border: 2px solid #C4B6AE;
  border-left: none;
}

.banner a {
  text-decoration: none;
}

.sec {
  border: 1px solid #C4B6AE;
  padding: 2px;
  margin-bottom: 5px;
  flex: 1 100%;
}

/*--------------- footer ---------------*/
.footer-wrapper {
  background-color: black;
  padding-top: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FAF8F5;
}

.fa-stack .fa-circle-thin {
  color: #FAF8F5;
}

.fa-stack .fa-circle {
  color: #FAF8F5;
}

.fa-stack:hover .fa-circle {
  color: #120400;
}

.fa-stack .fa-inverse {
  color: #120400;
}

.fa-stack:hover .fa-inverse {
  color: #FAF8F5;
}

.footer__copyright p {
  font-size: 0.90em;
  margin: 0.3em;
}

/*--------------- /.footer ---------------*/

/*--------------- mid-size > 576px ---------------*/
@media only screen and (min-width: 576px) {
  .wrapper {
    width: 90%;
  }

  .header-login {
    font-size: 0.8em;
  }

  .main__intro .sec {
    margin: 2px;
  }

  .main__secciones .sec {
    margin: 2px;
  }

  .sec {
    flex: 1 45%;
  }

  .welcome h1 {
    font-size: 1.4em;
  }

  .welcome p {
    font-size: 1em;
  }

}

/*--------------- /mid-size > 576px ---------------*/

/*--------------- /large-size > 750px ---------------*/
@media only screen and (min-width: 750px) {
  .wrapper {
    max-width: 1200px;
  }

  .sec {
    flex: 1 30%;
  }

}

